{%extends 'base.html'%}
{%load static%}

{%block content%}
<div id="loader"></div>
<div  id="overall" style="padding: 0;height: 100%;">
    
        <div class="col-12 home_pic" style="margin: 0px;z-index:-1;padding: 0;">
            <!--<img src="{%static 'images/prism.gif'%}" style="height: 800px;">-->
            <div class="name"><p class="name_text">Hello, I'm <span style="color:tomato;">Praroop</span><br>I'm a Programmer.<br>
                <span class="entrance"><a href="{%url 'home'%}" style="text-decoration: none;color: #cc0000;">My Portfolio ></a></span></p>
            </div>
        </div>
    
</div>        

{%endblock content%}
