body{
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
*{box-sizing:border-box;}
.row::after{
    content:"";
    clear:both;
    display:table;
}
[class*="col-"]{
    float:left;
    padding:15px;
    width:100%;
    margin-left:10px;/*for mobiles*/
}
[class*="col-s-"]{
  float:left;
  padding:15px;
  margin-left:10px;/*for mobiles*/
  width:30%;
}
@media only screen and (min-width:768px){
    /*for desktop*/
  .col-1,.col-s-1 {width: 8.33%;}
  .col-2,.col-s-2 {width: 16.66%;}
  .col-3,.col-s-3 {width: 25%;}
  .col-4,.col-s-4 {width: 33.33%;}
  .col-5,.col-s-5 {width: 41.66%;}
  .col-6,.col-s-6 {width: 50%;}
  .col-7,.col-s-7 {width: 58.33%;}
  .col-8,.col-s-8 {width: 66.66%;}
  .col-9,.col-s-9 {width: 75%;}
  .col-10,.col-s-10 {width: 83.33%;}
  .col-11,.col-s-11 {width: 91.66%;}
  .col-12,.col-s-12 {width: 100%;}
}
img{
    height:auto;
    width:100%;
}
#loader {
    border: 20px solid #f3f3f3;
    border-top: 20px solid #ff5c33;
    border-bottom: 20px solid #ff5c33;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    border-radius:20px;
    box-shadow:0 0 28px grey;
    position: relative;
    margin-left: 37%;
    margin-top:28%;
    z-index:1;
  }
  #overall,#navbar,#personal_info,#about,#skills,#contact,#message{
    display: none;
  }
  /*animation section------------------------------------------------------------------------------*/
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50%{transform: rotate(180deg);border-top: 20px solid #cc2900;border-bottom: 20px solid #cc2900; }
    100% { transform: rotate(360deg);border-top: 20px solid #801a00;border-bottom: 20px solid #801a00; }
  }
  @media only screen and (min-width:600px){
      #loader{margin-top:18%;margin-left:45%}
  }
  /*#overall{
    position:realtive;
    animation-name: animateoverall;
    animation-duration:1s;
  }
  @keyframes animateoverall{
      from{bottom:-100px;opacity:0}
      to{bottom:0;opacity:1}
  }*/
  
  .name{
    position:relative;
    top:-220px;
    margin-left:50%;
    margin-bottom:-220px;
    z-index:1;
  }
  @media only screen and (min-width:768px){
    #me_text{margin-left: 100px;}
    .name{margin-bottom:-260px;top:-260px;margin-left: 70%;}
    .name_text{font-size: 70px;}
    .footer_post{margin-left: 35%;}
    .footer{
      background-color:#cc2900;
      border-top-right-radius: 120px;
    }
    
  }
  .name_text{
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 30px;
    color: white;
  }
  .entrance{
    border:3px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin:3px;
    padding:3px;
  }
  .entrance:hover{
    border:2px solid white;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(90, 87, 87);
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    shadow:165px 15px  white;
    font-size: large;
  }
  .navbar a:hover {
    background: rgb(226, 26, 26);
    color: white;
  }
  .active {
    background: rgb(226, 26, 26);
    color: white;
  }
  .photo_animate{
    animation: photo_animate 2s;
  }
  @keyframes photo_animate{
    from{margin-left:0px;opacity: 0;}
    to{margin-left: 35px;opacity: 1;}
  }
#feature_text{
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
}
[id*="skill_icon"]{
  border-radius: 50%;
}

.footer{
  background-color:#cc2900;
}
.footer_logo {
  text-align: center;
  margin-top: 20px;
}
.footer_logo a{
  text-decoration: none;
}